
<div class="csv-file-chooser-section">

  <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
    accept=".csv" />
</div>

<div class="csv-result-table">

  <table>
    <thead>
      <strong>Non Facturee</strong>
      <tr> 
        <th>id</th>
        <th>maladie</th>
        <th>prix</th>
        <th>facture</th>
        <th>dateFacturation</th>
        <th>facturée now</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let csvData of csvRecords">
        <td *ngIf="csvData.facture!='f'">
          <span>{{csvData.id}}</span>
        </td>
        <td *ngIf="csvData.facture!='f'">
          <span>{{csvData.maladie}}</span>
        </td>
        <td *ngIf="csvData.facture!='f'">
          <span>{{csvData.prix}}</span>
        </td>
        <td *ngIf="csvData.facture!='f'">
          <span>{{csvData.facture}}</span>
        </td>
        <td *ngIf="csvData.facture!='f'">
          <span>{{csvData.dateFacturation}}</span>
        </td>
        <td *ngIf="csvData.facture!='f'">
          <button (click)="facturee(csvData)">facturée</button>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <strong>Deja Facturee</strong>
      <tr> 
        <th>id</th>
        <th>maladie</th>
        <th>prix</th>
        <th>facture</th>
        <th>dateFacturation</th>
        <th>facturée now</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let csvData of csvRecords">
        <td *ngIf="csvData.facture=='f'">
          <span>{{csvData.id}}</span>
        </td>
        <td *ngIf="csvData.facture=='f'">
          <span>{{csvData.maladie}}</span>
        </td>
        <td *ngIf="csvData.facture=='f'">
          <span>{{csvData.prix}}</span>
        </td>
        <td *ngIf="csvData.facture=='f'">
          <span>{{csvData.facture}}</span>
        </td>
        <td *ngIf="csvData.facture=='f'">
          <span>{{csvData.dateFacturation | date}}</span>
        </td>
        <td *ngIf="csvData.facture=='f'">
          <button (click)="facturee(csvData)">defacture</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>